* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #190d28;
  color: #fff;
}

.custom-container {
  padding-right: var(--bs-gutter-x, 1.75rem);
  padding-left: var(--bs-gutter-x, 1.75rem);
  max-width: 1360px;
  margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@font-face {
  font-family: 'Streetwear';
  src: url('./assets/fonts/Streetwear.otf');
}

/* @font-face {
  font-family: 'techmono';
  src: url('./assets/fonts/ShareTechMono-Regular.ttf');
}

@font-face {
  font-family: 'cartoon';
  src: url('./assets/fonts/SFCartoonistHand.ttf');
}

@font-face {
  font-family: 'moslymono';
  src: url('./assets/fonts/MostlyMono.ttf');
}

@font-face {
  font-family: 'backblack';
  src: url('./assets/fonts/Back\ to\ Black\ Bold\ Demo.ttf');
}

@font-face {
  font-family: 'arabella';
  src: url('./assets/fonts/Arabella.ttf');
}

@font-face {
  font-family: 'greatvives';
  src: url('./assets/fonts/GreatVibes-Regular.ttf');
}

@font-face {
  font-family: 'precious';
  src: url('./assets/fonts/Precious.ttf');
}

@font-face {
  font-family: 'blackine';
  src: url('./assets/fonts/Blackine.otf');
}*/


.w-100 {
  width: 100% !important;
  height: 540px;
  object-fit: cover;
  object-position: bottom;
}

.banner-wrapper {
  height: calc(100vh - 80px);
  min-height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_img {
  background: linear-gradient(rgba(25, 13, 40, 0.7), rgba(25, 13, 40, 0.7)),
    url(./assets/imgs/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.roadmap-title {
  font-family: blackine;
  text-align: center;
  margin-bottom: 40px;
}

.roadmap {
  height: 100vh;
  min-height: 700px;
  text-align: center;
}

.roadmap img {
  height: calc(100% - 88px);
  width: auto;
}

@media (max-width: 768px) {
  .banner-wrapper {
    min-height: 1200px;
  }

}
